library/deprecated/src/org/webpki/infocard/reduced-wss-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Extremely cut-down WS-Security-Ext schema.  Who said that WS-* standards are complex? :-)
-->

<xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
           xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

   <xs:element name="KeyIdentifier" type="wsse:KeyIdentifierType"/>

   <xs:complexType name="KeyIdentifierType">
      <xs:simpleContent>
         <xs:extension base="xs:base64Binary">
            <xs:attribute name="ValueType" type="xs:anyURI" use="required"/>
            <xs:attribute name="EncodingType" type="xs:anyURI" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

</xs:schema>
