library/deprecated/org/webpki/infocard/reduced-meta-exhg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Extremely cut-down metadata-exchange schema.  Who said that WS-* standards are complex? :-)
-->

<xs:schema targetNamespace="http://schemas.xmlsoap.org/ws/2004/09/mex"
           xmlns:mex="http://schemas.xmlsoap.org/ws/2004/09/mex"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

   <xs:element name="Metadata">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="mex:MetadataSection"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="MetadataSection">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="mex:MetadataReference"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="MetadataReference">
      <xs:complexType>
         <xs:sequence>
            <xs:any processContents="strict" namespace="##other"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
